body{
    background-color:bisque;
    font-family:'Times New Roman';
    color:rgb(68, 42, 27);
}
table, th, td {
    border: 1px solid rgb(68, 42, 27);
    border-collapse: collapse;
    padding: 5px;
    background-color: rgb(161, 138, 124);
    font-family: "Times New Roman";
    color: bisque;
  }
img{
    border-style: double;
    border-color: burlywood;
}
div{
background-color: rgb(161, 138, 124);
}